<%= error_messages_for(f.object) %>

<table summary="User form fields">
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>  <tr>
  <th><%= f.label(:last_name) %></th>
  <td><%= f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:is_site_admin) %></th>
    <td><%= f.check_box(:is_site_admin) %></td>
  </tr>
  <tr>
    <th><%= f.label(:user_name) %></th>
    <td><%= f.text_field(:user_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= f.password_field(:password) %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= f.password_field(:password_confirmation) %></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></td>
  </tr>
</table>